html,
body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    outline: 5px solid grey;
}

.row {
    display: flex;
}

.square {
    display: grid;
    place-items: center;
    width: 50px;
    aspect-ratio: 1;
    font-weight: bold;
}

.square:hover {
    cursor: pointer;
}

footer {
    margin: auto 0 50px 0;
    text-align: center;
}